<div class="content">
  <h1>Welcome to the Client App!</h1>
  <p>You have a live session and your access key is:</p>
  <p><%= session[:access_key] %></p>
  <p><%= link_to "Sign Out", sign_out_welcome_index_url, method: :get, class: "pure-button pure-button-primary" %></p>
</div>
